apiVersion: v1
kind: Namespace
metadata:
  name: emqx
---
apiVersion: apps.emqx.io/v2beta1
kind: EMQX
metadata:
  name: emqx
  namespace: emqx
spec:
  image: emqx/emqx-enterprise:5.8.6
  config:
    data: |
      license.key = "file:///mnt/license/emqx.lic"
      ## Prometheus Push Gateway Integration
      prometheus {
        push_gateway_server = "http://pushgateway.monitoring.svc.cluster.local:9091"
        interval = 10000
        headers {}
        job_name = "${name}/instance/${name}~${host}"
        mnesia_collector = disabled
        vm_dist_collector = disabled
        vm_memory_collector = disabled
        vm_msacc_collector = disabled
        vm_statistics_collector = disabled
        vm_system_info_collector = disabled
      }

  coreTemplate:
    spec:
      replicas: 2
      volumeClaimTemplates:
        storageClassName: ebs-sc
        resources:
          requests:
            storage: 10Gi
        accessModes:
          - ReadWriteOnce
      extraVolumes:
        - name: emqx-license
          secret:
            secretName: emqx-license
      extraVolumeMounts:
        - name: emqx-license
          mountPath: /mnt/license
  replicantTemplate:
    spec:
      replicas: 3
      extraVolumes:
        - name: emqx-license
          secret:
            secretName: emqx-license
      extraVolumeMounts:
        - name: emqx-license
          mountPath: /mnt/license
  dashboardServiceTemplate:
    metadata:
      annotations:
        service.beta.kubernetes.io/aws-load-balancer-type: external
        service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
    spec:
      type: LoadBalancer
      loadBalancerClass: service.k8s.aws/nlb
  listenersServiceTemplate:
    metadata:
      annotations:
        service.beta.kubernetes.io/aws-load-balancer-type: external
        service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
    spec:
      type: LoadBalancer
      loadBalancerClass: service.k8s.aws/nlb
